<launch>
	
			<param name="use_sim_time" value="true" />

	
	<node pkg="stage_ros" type="stageros" name="stage_node" args="/home/unizar/ROS/hydro_catkin_ws/src/worlds/simple_hospital.world">
		<remap from="base_scan_1" to="scan"/>
	</node>

	<node pkg="gmapping" type="slam_gmapping" name="slam_node" >
		<param name="map_update_interval" value="1" />
	</node>









	<node pkg="image_view" type="image_view" name="frontier_viewer" >
	<remap from="image" to="image_frontier"/>
	</node>



</launch>
